
body {
    margin: 0px; 
    font-family: 'Cabin', sans-serif;
    background-color: rgb(31, 29, 29);
    color: whitesmoke;
}

.item_1 {
    grid-area: searchfield;
    width: max-content;
    height: 100px;
    position: fixed;
    top: 0px;
    left: 275px;
    right: 0px;
}

.item_2 {
    grid-area: sidebar;
    width: 200px;
    background-color: #000000;
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 70px;
    
}

.logo_container {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 20px 0px 20px 20px;
    font-size: 32px;
}

/*.logo_text {
    font-size: 40px;
    font-weight: bold;
    margin: 0px;
}*/

.item_3 {
    grid-area: top_genres;
}

.item_4 {
    grid-area: browse;
}

.item_5 {
    grid-area: misc;
}

.item_6 {
    grid-area: footer;
}

.grid-container {
    display: grid;
    grid-template-areas: 
    'sidebar searchfield searchfield searchfield searchfield'
    'sidebar top_genres top_genres top_genres top_genres'
    'sidebar browse browse browse browse'
    'sidebar misc misc misc misc'
    'footer footer footer footer footer';
    height: 1300px;
}

.searchfield {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: fixed;
    margin-top: 20px;
}

.top_genres_buttons {
    display: flex;
    flex-direction: row;
}

input {
    border-radius: 20px;
    width: 300px;
    height: 30px;
    font-size: 14px;
    margin-left: 75px;
}

.upgrade_button {
    background-color: black;
    color: whitesmoke;
    border-radius: 20px;
    width: 100px;
    height: 35px;
    border-color: #ffffff solid;
    border-width: 2px;
    margin-left: 375px;
    margin-right: 25px;
}

.user_button {
    background-color: rgb(22, 21, 21);
    color: whitesmoke;
    border-radius: 20px;
    border-style: none;
    width: 100px;
    height: 35px;
    margin-right: 250px;
}

.arrow_left {
    background-color: black;
    border-radius: 60px;
    border-style: none;
    width: 40px;
    height: 40px;
    color: whitesmoke;
    margin-right: 10px;
}

.arrow_right {
    background-color: black;
    border-radius: 60px;
    border-style: none;
    width: 40px;
    height: 40px;
    color: whitesmoke;
}

.top_genres {
    width: 350px;
    height: 220px;
    border-radius: 10px;
    border-style: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bolder;
    margin-right: 15px;
    background-color: rgb(22, 21, 21);
    color: whitesmoke;
}

.top_text, .browse_text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
}

.browse_all, .misc_ {
    width: 164px;
    height: 225px;
    border-radius: 10px;
    border-style: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bolder;
    margin-right: 15px;
    color: whitesmoke;
    background-color: rgb(22, 21, 21);
}

.sidebar_links {
    display: flex;
    /*flex-direction: column;*/
    /*margin: 30px;*/
    margin-bottom: 15px;
}

.fas.fa-home, .fas.fa-search, .fas.fa-book-open {
    margin-right: 15px;
}

.nav_links {
    list-style: none;
}

.__home {
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.sidebar_links:link {
    color: #ffffff;
    text-decoration: none;
}

.sidebar_links:active {
    text-decoration: rgba(0, 0, 0, 0.432);
}

.sidebar_links:hover {
    color: #ffffff;
}

.sidebar_links:visited {
    color: grey;
}

.button {
    background-color: rgb(31, 29, 29);
    border-style: none;
    width: 50px;
    height: 20px;
    color: whitesmoke;
}

.item_6 {
    width: 100%;
    height: 200px;
    margin-top: 50px;
}

.main_content {
    max-height: 700px;
    overflow: scroll;
    position: fixed;
    top: 100px;
    left: 275px;
    right: 0px;
    bottom: 70px;
}

.footer_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: auto;
    height: 70px;
    position: fixed;
    bottom: 0px;
    right: 0px;
    left: 0px; 
}

.song_title_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

